@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



$color-main: rgb(63, 63, 63);
$color-second: rgb(230, 230, 230);

@mixin phones {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin tabs {
    @media screen and (max-width: 768px) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: .4s ease;
    background-color: $color-main;
    color: $color-second;
}

body{
    padding: 24px 8px;
}

.container{
    max-width: 1440px;
    margin: 0 auto 24px auto;
    padding: 16px;

    border: 1px solid $color-second;
    border-radius: 6px;
    
}

.scrollDisable {
    overflow: hidden;
}

@import '~/assets/components/carts.scss';
@import '~/assets/components/pagination.scss';
@import '~/assets/components/modal.scss';
@import '~/assets/components/filters.scss';
